body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f1ebe3;
  color: #9878ef;
}

a {
  color: #00B7FF;
}

.italic {
  font-style: italic;
}

img {
  width: 500px;
}