body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f1ebe3;
  color: #9878ef;
}

a {
  color: #00B7FF;
}

.italic {
  font-style: italic;
}

#doggo-otd {
  width: 500px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  
}